In [4]:
a = 1
while a<6 :
    print("Sagar")
    a=a+1

Sagar
Sagar
Sagar
Sagar
Sagar

In [8]:
a = 1
while a <= 10 :
    print(a)
    a = a + 1

1
2
3
4
5
6
7
8
9
10

In [9]:
a = 1
while a <= 10 :
    print(a * 5)
    a = a + 1

5
10
15
20
25
30
35
40
45
50

In [10]:
a = 1
while a <= 10 :
    print(a * a)
    a = a + 1

1
4
9
16
25
36
49
64
81
100

In [12]:
a = 1
while a <= 10 :
    print(a * a)
    if a * a == 64 :
        break
    a = a + 1

1
4
9
16
25
36
49
64

In [23]:
a = 1
while a < 10:
    a = a + 1
    if a == 3:
        print(a)
        continue

3

In [25]:
while a < 4 :
    print(a)
    break

In [29]:
a = 1

In [30]:
print(a)

1

In [34]:
while (a<6) :
    pass

KeyboardInterrupt:

In [48]:
for i in range(10):
    pass

In [49]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [51]:
tuple(range(10,20))

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [52]:
list(range(5,50,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [53]:
list(range(1,10,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
list(range(1,10,-1))

[]

In [56]:
list(range(100,1000,100))

[100, 200, 300, 400, 500, 600, 700, 800, 900]

In [57]:
range(1000)

range(0, 1000)

In [58]:
list(range(10,6,-1))

[10, 9, 8, 7]

In [63]:
list(range(50,1,-5))

[50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

In [65]:
list(range(10,-20,-2))

[10, 8, 6, 4, 2, 0, -2, -4, -6, -8, -10, -12, -14, -16, -18]

In [1]:
list(range(100,1,-5))

[100,
 95,
 90,
 85,
 80,
 75,
 70,
 65,
 60,
 55,
 50,
 45,
 40,
 35,
 30,
 25,
 20,
 15,
 10,
 5]

In [3]:
list(range(50,-50,-5))

[50,
 45,
 40,
 35,
 30,
 25,
 20,
 15,
 10,
 5,
 0,
 -5,
 -10,
 -15,
 -20,
 -25,
 -30,
 -35,
 -40,
 -45]

In [4]:
list(range(10,-5,-2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [5]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [6]:
for i in range(10):
    print(5*i)

0
5
10
15
20
25
30
35
40
45

In [8]:
for i in range(10 , -5,-2):
    print(i)

10
8
6
4
2
0
-2
-4

In [19]:
n=10
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******
********
*********
**********

In [22]:
n=15
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [26]:
for i in range(100):
    if(i%2==0):
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [30]:
for i in range(50):
    if(i%2==1):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [32]:
l = [1,2,4,5,6,8,6,5,4,3,6,4,5,6,7,56,5]
for i in l:
    print(i)

1
2
4
5
6
8
6
5
4
3
6
4
5
6
7
56
5

In [33]:
s = "sagar"
for i in s:
    print(i)

s
a
g
a
r

In [35]:
t = (1,24,56,56,768,567,567,567,67,6)
range(len(t))

range(0, 10)

In [36]:
t = (1,24,56,56,768,567,567,567,67,6)
for i in range(len(t)):
    print(i,t[i])

0 1
1 24
2 56
3 56
4 768
5 567
6 567
7 567
8 67
9 6

In [37]:
t

(1, 24, 56, 56, 768, 567, 567, 567, 67, 6)

In [38]:
t[::-1]

(6, 67, 567, 567, 567, 768, 56, 56, 24, 1)

In [41]:
list(range(len(t),0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [46]:
for i in range(len(t)-1,-1,-1):
    print(t[i])

6
67
567
567
567
768
56
56
24
1

In [49]:
list(range(len(t)-1,-1,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [50]:
d = {"key1":"sagar","key2":"prakash","key3":"Giradkar"}

In [51]:
d

{'key1': 'sagar', 'key2': 'prakash', 'key3': 'Giradkar'}

In [52]:
d = {"key1":"sagar","key2":"prakash","key3":"Giradkar","a":[1,2,3,4,4,5,6],"b":(1,3,56,767)}

In [53]:
for i in d :
    print(i)

key1
key2
key3
a
b

In [61]:
for i in d :
    print(i," : ",d[i])

key1  :  sagar
key2  :  prakash
key3  :  Giradkar
a  :  [1, 2, 3, 4, 4, 5, 6]
b  :  (1, 3, 56, 767)

In [62]:
d.items()

dict_items([('key1', 'sagar'), ('key2', 'prakash'), ('key3', 'Giradkar'), ('a', [1, 2, 3, 4, 4, 5, 6]), ('b', (1, 3, 56, 767))])

In [63]:
for i in d.items():
    print(i)

('key1', 'sagar')
('key2', 'prakash')
('key3', 'Giradkar')
('a', [1, 2, 3, 4, 4, 5, 6])
('b', (1, 3, 56, 767))

In [67]:
s = {1,2,3,25,35,334,35,34,34,67,567,567,5634,476,47,0}
len(s)

13

In [72]:
s

{0, 1, 2, 3, 25, 34, 35, 47, 67, 334, 476, 567, 5634}

In [76]:
len(s)
s

{0, 1, 2, 3, 25, 34, 35, 47, 67, 334, 476, 567, 5634}

In [75]:
for i in s :
    print(i)

0
1
2
3
35
34
67
5634
334
47
567
25
476