In [3]:
# Passing multiple argument into function
def test(a,b,c,d,e):
    return a,b,c,d,e

In [5]:
test(89,2,3,4,5)

(89, 2, 3, 4, 5)

In [23]:
#generic way to pass multiple arguments
# any number of argument pass into functions
# n number of value will be passes into function
def test1(*args):
    return args

In [24]:
test1(324,345,345,345,345,45)

(324, 345, 345, 345, 345, 45)

In [25]:
test1("sagar",4345,34645,"prkash")

('sagar', 4345, 34645, 'prkash')

In [26]:
test1([1,34,45,45,45],(23.56,44,45,54),4354,"sagar",648+9j)

([1, 34, 45, 45, 45], (23.56, 44, 45, 54), 4354, 'sagar', (648+9j))

In [27]:
def test2(*sagar):
    return sagar

In [28]:
test2("sagar",453,245)

('sagar', 453, 245)

In [29]:
test2("dfs",4534,"4353")

('dfs', 4534, '4353')

In [30]:
def test3(*sagar , a):
    return sagar , a

In [36]:
test3(324,45,45,534 , "sagar" , a = 56546)

((324, 45, 45, 534, 'sagar'), 56546)

In [37]:
def test4(*sagar,a,b,c,d):
    return sagar ,a,b,c,d

In [39]:
test4(234,45,456,56,a="sagar",b=[2434,4545,456,5635,356],c=64564,d="prakash")

((234, 45, 456, 56), 'sagar', [2434, 4545, 456, 5635, 356], 64564, 'prakash')

In [40]:
def test3(a,*sagar ):
    return sagar , a

In [44]:
test3(a=78668 , 345456,54656,65765,567,76867,78)

SyntaxError: positional argument follows keyword argument (<ipython-input-44-0a53f9048a3b>, line 1)

In [45]:
test3(345456,54656,65765,567,76867,78)

((54656, 65765, 567, 76867, 78), 345456)

In [47]:
def test4(a,*sagar,b,c):
    return a,sagar,b,c

In [49]:
test4("sagar",6578678,4564,456456,5674,34,b="pavan",c="parth")

('sagar', (6578678, 4564, 456456, 5674, 34), 'pavan', 'parth')

In [57]:
def test5(*args):
    for i in args:
        if type(i) == list:
            return i

In [58]:
test5(56,45,54,[546,546],["sagar"])

[546, 546]
['sagar']

In [59]:
def test5(*args):
    for i in args:
        if type(i) == list:
            print(i)

In [60]:
test5(56,45,54,[546,546],["sagar"])

[546, 546]
['sagar']

In [63]:
def test5(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [66]:
test5(56,45,54,[546,546],["sagar"],67688,76786,77)

[[546, 546], ['sagar']]

In [67]:
def test6(**kwargs):
    return kwargs

In [72]:
test6(a = "sagar",b = [1,3,4,5,6,7,7,6],sagar=997e7)

{'a': 'sagar', 'b': [1, 3, 4, 5, 6, 7, 7, 6], 'sagar': 9970000000.0}

In [73]:
def test7(**sagar):
    return sagar

In [75]:
test7(b=2454,g=454,h=5456,f=[4354,4565,67876,78])

{'b': 2454, 'g': 454, 'h': 5456, 'f': [4354, 4565, 67876, 78]}

In [76]:
def test9(** sagar ):
    return sagar

In [77]:
test9(name="sagar",age="42",phone_nu="234434646",mail_id="sagar@3003.com")

{'name': 'sagar',
 'age': '42',
 'phone_nu': '234434646',
 'mail_id': 'sagar@3003.com'}

In [86]:
def test10(a , **sagar):
    return a,sagar

In [87]:
test10(245,43646,567567,567)

TypeError: test10() takes 1 positional argument but 4 were given

In [88]:
test10(342,b="sagar")

(342, {'b': 'sagar'})

In [89]:
def test11(a,**sagar ,*args):
    return a , sagar,args

SyntaxError: invalid syntax (<ipython-input-89-afc30ee284a0>, line 1)

In [97]:
def test12(a,*args,**kwargs):
    return a,args,kwargs

In [98]:
test12(12,34,454,456,56,67,567,67,7,b="sagar",c=5656,d=5456)

(12, (34, 454, 456, 56, 67, 567, 67, 7), {'b': 'sagar', 'c': 5656, 'd': 5456})