In [4]:
s = "This is basic python class"
print(len(s))
count=0
for i in s:
    count=count+1
    
print(count)

26
26

In [5]:
s = "sagar prakash giradkar"
s[::-1]

'rakdarig hsakarp ragas'

In [10]:
s = "prakash giradkar pauna khurd po mangli"

In [11]:
for i in range(len(s)-1,-1,-1):
    print(s[i] ,end="")

ilgnam op druhk anuap rakdarig hsakarp

In [16]:
i=len(s)-1
while(i>=0):
    print(s[i],end="")
    i-=1

ilgnam op druhk anuap rakdarig hsakarp

In [2]:
s = "ineuron prakash giradjkar"
v = "AaEeIiOoUu"
for i in s:
    if i in v:
        print("Vowel",i)
    else:
        print("Not vowel",i)

Vowel i
Not vowel n
Vowel e
Vowel u
Not vowel r
Vowel o
Not vowel n
Not vowel
Not vowel p
Not vowel r
Vowel a
Not vowel k
Vowel a
Not vowel s
Not vowel h
Not vowel
Not vowel g
Vowel i
Not vowel r
Vowel a
Not vowel d
Not vowel j
Not vowel k
Vowel a
Not vowel r

In [3]:
s in "sagar"

False

In [4]:
s not in "sagar"

True

In [5]:
"u" in "sugar"

True

In [6]:
s

'ineuron prakash giradjkar'

In [8]:
"s" in s

True

In [15]:
s = input()
l = s[::-1]
if(s==l):
    print("Pallindrom",s)
else:
    print("Not a pallindrome",s)

malayalam
Pallindrom malayalam

In [16]:
s = input()
l = s[::-1]
if(s==l):
    print("Pallindrom",s)
else:
    print("Not a pallindrome",s)

tenet
Pallindrom tenet

In [17]:
d = {
    "india":"IN",
    "canada":"CA",
    "china":"CH",
    "united state":"US"
}

In [20]:
"india" in d

True

In [21]:
for i in d:
    print(i)

india
canada
china
united state

In [22]:
l_greter = []
l_smaller = []
for i in d:
    if(len(i)<=5):
        l_smaller.append(i)
    else:
        l_greter.append(i)

In [23]:
l_smaller

['india', 'china']

In [25]:
l_greter

['canada', 'united state']

In [28]:
d = {
    "ineuron":{
        "a":14,
        "b":10,
        "c":4
    },
    "course":
    {
        "d":45,
        "e":34,
        "f":1
    }
}

In [29]:
d

{'ineuron': {'a': 14, 'b': 10, 'c': 4}, 'course': {'d': 45, 'e': 34, 'f': 1}}

In [30]:
for i in d.values():
    print(i)

{'a': 14, 'b': 10, 'c': 4}
{'d': 45, 'e': 34, 'f': 1}

In [31]:
for i in d.values():
    for j in i.values():
        print(j)

14
10
4
45
34
1

In [36]:
lst=[]
for i in d.values():
    for j in i.values():
        lst.append(j)
    print(max(lst))

14
45

In [41]:
for i in d.keys():
    print(i)
    print(max(d[i].values()))

ineuron
14
course
45

In [42]:
d = {
    "ineuron":{
        "a":14,
        "b":10,
        "c":4
    },
    "course":
    {
        "d":45,
        "e":34,
        "f":1
    },
    "g":34,"h":[43,54,34,34,34,3,43],'i':(34,56,35,35),'k':"sagar"
}

In [43]:
d

{'ineuron': {'a': 14, 'b': 10, 'c': 4},
 'course': {'d': 45, 'e': 34, 'f': 1},
 'g': 34,
 'h': [43, 54, 34, 34, 34, 3, 43],
 'i': (34, 56, 35, 35),
 'k': 'sagar'}

In [48]:
d*d

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [49]:
d

{'ineuron': {'a': 14, 'b': 10, 'c': 4},
 'course': {'d': 45, 'e': 34, 'f': 1},
 'g': 34,
 'h': [43, 54, 34, 34, 34, 3, 43],
 'i': (34, 56, 35, 35),
 'k': 'sagar'}

In [50]:
d.values()

dict_values([{'a': 14, 'b': 10, 'c': 4}, {'d': 45, 'e': 34, 'f': 1}, 34, [43, 54, 34, 34, 34, 3, 43], (34, 56, 35, 35), 'sagar'])

In [52]:
d.pop

In [53]:
d

{'ineuron': {'a': 14, 'b': 10, 'c': 4},
 'course': {'d': 45, 'e': 34, 'f': 1},
 'g': 34,
 'h': [43, 54, 34, 34, 34, 3, 43],
 'i': (34, 56, 35, 35),
 'k': 'sagar'}

In [54]:
d.items()

dict_items([('ineuron', {'a': 14, 'b': 10, 'c': 4}), ('course', {'d': 45, 'e': 34, 'f': 1}), ('g', 34), ('h', [43, 54, 34, 34, 34, 3, 43]), ('i', (34, 56, 35, 35)), ('k', 'sagar')])

In [55]:
d.keys

In [56]:
d.keys()

dict_keys(['ineuron', 'course', 'g', 'h', 'i', 'k'])

In [57]:
d.keys()

dict_keys(['ineuron', 'course', 'g', 'h', 'i', 'k'])

In [58]:
d.copy()

{'ineuron': {'a': 14, 'b': 10, 'c': 4},
 'course': {'d': 45, 'e': 34, 'f': 1},
 'g': 34,
 'h': [43, 54, 34, 34, 34, 3, 43],
 'i': (34, 56, 35, 35),
 'k': 'sagar'}

In [59]:
d

{'ineuron': {'a': 14, 'b': 10, 'c': 4},
 'course': {'d': 45, 'e': 34, 'f': 1},
 'g': 34,
 'h': [43, 54, 34, 34, 34, 3, 43],
 'i': (34, 56, 35, 35),
 'k': 'sagar'}

In [60]:
d

{'ineuron': {'a': 14, 'b': 10, 'c': 4},
 'course': {'d': 45, 'e': 34, 'f': 1},
 'g': 34,
 'h': [43, 54, 34, 34, 34, 3, 43],
 'i': (34, 56, 35, 35),
 'k': 'sagar'}