In [1]:
l = [1,2,3,4,5,6,6,7,8]
for i in l :
    print(i)

1
2
3
4
5
6
6
7
8

In [2]:
s = "sagar"
for i in s:
    print(i)

s
a
g
a
r

In [4]:
for i in "sagar":
    print(i)

s
a
g
a
r

In [1]:
 for i in "sagarprakashGiradkar":
        print(i)

s
a
g
a
r
p
r
a
k
a
s
h
G
i
r
a
d
k
a
r

In [2]:
t = (1,2,3,4,5,6,7,7)
for i in t:
    print(i)

1
2
3
4
5
6
7
7

In [3]:
l = [1,2,3,4,5,6,7,6,4,4,3,4,4.56,5.6,4.5+5j]
for i in l :
    print(i)

1
2
3
4
5
6
7
6
4
4
3
4
4.56
5.6
(4.5+5j)

In [4]:
l = [1,2,3,4,5,6,7,6,4,4,3,4,4.56,5.6,4.5+5j]
for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>

In [5]:
l = [1,2,3,4,5,6,7,6,4,4,3,4,4.56,5.6,4.5+5j,"sagar",[34,56,77,7],{67,675,567},(4,6)]
for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'set'>
<class 'tuple'>

In [6]:
type(l)

list

In [7]:
l = [1,2,3,4,5,6,7,6,4,4,3,4,4.56,5.6,4.5+5j,"sagar",[34,56,77,7],{67,675,567},(4,6)]
for i in l :
    print(type(i),"type of ",i)

<class 'int'> type of  1
<class 'int'> type of  2
<class 'int'> type of  3
<class 'int'> type of  4
<class 'int'> type of  5
<class 'int'> type of  6
<class 'int'> type of  7
<class 'int'> type of  6
<class 'int'> type of  4
<class 'int'> type of  4
<class 'int'> type of  3
<class 'int'> type of  4
<class 'float'> type of  4.56
<class 'float'> type of  5.6
<class 'complex'> type of  (4.5+5j)
<class 'str'> type of  sagar
<class 'list'> type of  [34, 56, 77, 7]
<class 'set'> type of  {67, 675, 567}
<class 'tuple'> type of  (4, 6)

In [9]:
l = [1,2,3,4,5,6,7,6,4,4,3,4,4.56,5.6,4.5+5j,"sagar",[34,56,77,7],{67,675,567},(4,6),{"key1":3}]
for i in l :
    print(type(i),"type of ",i)

<class 'int'> type of  1
<class 'int'> type of  2
<class 'int'> type of  3
<class 'int'> type of  4
<class 'int'> type of  5
<class 'int'> type of  6
<class 'int'> type of  7
<class 'int'> type of  6
<class 'int'> type of  4
<class 'int'> type of  4
<class 'int'> type of  3
<class 'int'> type of  4
<class 'float'> type of  4.56
<class 'float'> type of  5.6
<class 'complex'> type of  (4.5+5j)
<class 'str'> type of  sagar
<class 'list'> type of  [34, 56, 77, 7]
<class 'set'> type of  {67, 675, 567}
<class 'tuple'> type of  (4, 6)
<class 'dict'> type of  {'key1': 3}

In [11]:
l = [1,3,5,6,5.5]
l1=[]
for i in l:
    print(i*3)
    l1.append(i+2)

3
9
15
18
16.5

In [12]:
l1

[3, 5, 7, 8, 7.5]

In [13]:
l = [2,45,78,56,"sagar",6+7j,[2,3,5,6,9]]

In [19]:
for i in l:
    if(type(i) == int):
        print(i)

2
45
78
56

In [18]:
for i in l:
    if(type(i) == complex):
        print(i)

(6+7j)

In [20]:
for i in l:
    if(type(i) == str):
        print(i)

sagar

In [21]:
for i in l:
    if(type(i) == list):
        print(i)

[2, 3, 5, 6, 9]

In [22]:
for i in l:
    if type(i) == int:
        print(i)
    elif(type(i) == list):
        for j in i:
            if(type(j) == int):
                print(j)

2
45
78
56
2
3
5
6
9

In [23]:
l = [1,2,3,4,5,6,7,6,4,4,3,4,4.56,5.6,4.5+5j,"sagar",[34,56,77,7],{67,675,567},(4,6),{"key1":3}]

In [24]:
for i in l:
    print(l.index(i))

0
1
2
3
4
5
6
5
3
3
2
3
12
13
14
15
16
17
18
19

In [25]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 6,
 4,
 4,
 3,
 4,
 4.56,
 5.6,
 (4.5+5j),
 'sagar',
 [34, 56, 77, 7],
 {67, 567, 675},
 (4, 6),
 {'key1': 3}]

In [29]:
for i in l:
    if(type(i) == int):
        l1=[i*i]
    print(l1)

[1]
[4]
[9]
[16]
[25]
[36]
[49]
[36]
[16]
[16]
[9]
[16]
[16]
[16]
[16]
[16]
[16]
[16]
[16]
[16]

In [30]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 6,
 4,
 4,
 3,
 4,
 4.56,
 5.6,
 (4.5+5j),
 'sagar',
 [34, 56, 77, 7],
 {67, 567, 675},
 (4, 6),
 {'key1': 3}]

In [39]:
for i in l:
    if type(i) == str:
        for j in i:
            l2=[j]
            print(l2)

['s']
['a']
['g']
['a']
['r']

In [40]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 6,
 4,
 4,
 3,
 4,
 4.56,
 5.6,
 (4.5+5j),
 'sagar',
 [34, 56, 77, 7],
 {67, 567, 675},
 (4, 6),
 {'key1': 3}]

In [41]:
range(5)

range(0, 5)

In [46]:
for i in range(len(l)):
    print("index  ",i,"for an element ",l[i])

index   0 for an element  1
index   1 for an element  2
index   2 for an element  3
index   3 for an element  4
index   4 for an element  5
index   5 for an element  6
index   6 for an element  7
index   7 for an element  6
index   8 for an element  4
index   9 for an element  4
index   10 for an element  3
index   11 for an element  4
index   12 for an element  4.56
index   13 for an element  5.6
index   14 for an element  (4.5+5j)
index   15 for an element  sagar
index   16 for an element  [34, 56, 77, 7]
index   17 for an element  {67, 675, 567}
index   18 for an element  (4, 6)
index   19 for an element  {'key1': 3}

In [48]:
for i,j in enumerate(l):
    print(i,j)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 6
8 4
9 4
10 3
11 4
12 4.56
13 5.6
14 (4.5+5j)
15 sagar
16 [34, 56, 77, 7]
17 {67, 675, 567}
18 (4, 6)
19 {'key1': 3}

In [49]:
print("```````````````````````````````````````````")

```````````````````````````````````````````

In [50]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 6,
 4,
 4,
 3,
 4,
 4.56,
 5.6,
 (4.5+5j),
 'sagar',
 [34, 56, 77, 7],
 {67, 567, 675},
 (4, 6),
 {'key1': 3}]

In [54]:
for i in l:
    if type(i) == str:
        l1 = []
        for j in i:
            l1.append(j)
            print(l1)

['s']
['s', 'a']
['s', 'a', 'g']
['s', 'a', 'g', 'a']
['s', 'a', 'g', 'a', 'r']

In [55]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 6,
 4,
 4,
 3,
 4,
 4.56,
 5.6,
 (4.5+5j),
 'sagar',
 [34, 56, 77, 7],
 {67, 567, 675},
 (4, 6),
 {'key1': 3}]

In [56]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 6,
 4,
 4,
 3,
 4,
 4.56,
 5.6,
 (4.5+5j),
 'sagar',
 [34, 56, 77, 7],
 {67, 567, 675},
 (4, 6),
 {'key1': 3}]

In [63]:
 l2=[]
for i in l:
    if type(i) == int:
        l2.append(i**2)

In [64]:
l2

[1, 4, 9, 16, 25, 36, 49, 36, 16, 16, 9, 16]