In [1]:
len("Sagar Prakash Giradkar")

22

In [2]:
print("sagar prakash Giradkar")

sagar prakash Giradkar

In [3]:
def test():

SyntaxError: unexpected EOF while parsing (<ipython-input-3-9873bc519466>, line 1)

In [4]:
def test():
    pass

In [5]:
def test1():
    return(print("This is my first function"))

In [6]:
test1()

This is my first function

In [7]:
def test2():
    print("Hello everyone welcome to python programming")

In [8]:
test2()

Hello everyone welcome to python programming

In [9]:
def test3(a,b):
    sum=a+b
    print(sum)

In [10]:
test3(3,4)

7

In [12]:
a = test()

In [13]:
type(a)

NoneType

In [14]:
a + "sagar"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [15]:
def test1():
    return(print("This is my first function"))

In [16]:
a = test1()

This is my first function

In [17]:
a +"sagar"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [18]:
b = "sagar"

In [19]:
b*b

TypeError: can't multiply sequence by non-int of type 'str'

In [20]:
b

'sagar'

In [39]:
def sagar(a,b,c):
    if(a>b and b>c):
       return a ,"is greter"
    elif(b>c and b>a):
        return b, "is greter"
    else:
         return c ,"is greter"

In [32]:
sagar(1,5,7)

(7, ' is greter')

In [33]:
a = sagar(54,345,345)

In [34]:
type(sagar(2,3,2))

tuple

In [35]:
sagar(x,x,s)

NameError: name 'x' is not defined

In [41]:
sagar("zz","z","c")

('zz', 'is greter')

In [42]:
def test4():
    return 3,45,67,6,"sagar",[1,3,4,5,45,]

In [43]:
test4()

(3, 45, 67, 6, 'sagar', [1, 3, 4, 5, 45])

In [44]:
type(test4)

function

In [45]:
type(test4())

tuple

In [46]:
b = test4()

In [47]:
type(b)

tuple

In [48]:
b

(3, 45, 67, 6, 'sagar', [1, 3, 4, 5, 45])

In [52]:
b[4]

'sagar'

In [53]:
b

(3, 45, 67, 6, 'sagar', [1, 3, 4, 5, 45])

In [54]:
b[5]

[1, 3, 4, 5, 45]

In [55]:
a = b[1]

In [56]:
a

45

In [57]:
test4()

(3, 45, 67, 6, 'sagar', [1, 3, 4, 5, 45])

In [58]:
a,b,c,d = [1213,343,34,5],"sagar",34,545

In [59]:
a

[1213, 343, 34, 5]

In [60]:
b

'sagar'

In [61]:
c

34

In [62]:
d

545

In [65]:
c*d

18530

In [66]:
c

34

In [67]:
d

545

In [68]:
343684+345234

688918

In [72]:
def test5():
    a = 6*7/6*99889
    return a

In [73]:
test5()

699223.0

In [74]:
type(test5())

float

In [75]:
def test6(a,b):
    sum1 = a + b
    prod = a * b
    return sum1 , prod

In [76]:
test6(3,4)

(7, 12)

In [92]:
l = [1,3,4,6,56,56,6,6,"sagar",[43,45,545,5]]
def fun(l):
    n = []
    if type(a) == list :
        for i in a:
            if type(i) == int:
                n.append(i)
                
    return max(n),n

In [93]:
fun(l)

(1213, [1213, 343, 34, 5])

In [107]:
def fun1(l):
    n = []
    if type(a) == list :
        for i in a:
            if type(i) == int:
                n.append(i)
    return n

In [108]:
l1 = [2342,43545,4545,456,"sagar",[535,456,456,456]]

In [109]:
fun1(l1)

[1213, 343, 34, 5]

In [110]:
print(fun1(l1))

[1213, 343, 34, 5]

In [111]:
fun1(l1)

[1213, 343, 34, 5]

In [114]:
def fun1(l1):
    n = []
    if type(a) == list :
        for i in a:
            if type(i) == int:
                n.append(i)
    return n

In [115]:
fun(l1)

(1213, [1213, 343, 34, 5])

In [116]:
def test8(c):
    if type(c) ==dict:
        return c.keys()
    else:
        return "you have not passed a dic"

In [117]:
test8("ghshfghagh")

'you have not passed a dic'

In [121]:
test8({"a":465,"b":"sagar"})

dict_keys(['a', 'b'])

In [135]:
def exlist(l,l1):
    if type(l)==list and type(l1)==list:
        return l+l1
    else:
        return "either of your data is not a list"

In [136]:
exlist([1,3],[23,34])

[1, 3, 23, 34]

In [137]:
exlist(345,45,456)

TypeError: exlist() takes 2 positional arguments but 3 were given

In [138]:
exlist(["sagar",3445,455],[454,45454])

['sagar', 3445, 455, 454, 45454]

In [143]:
def exlist(l,l1):
    if type(l)==list and type(l1)==list:
        l.extend(l1)
        return l
    else:
        return "either of your data is not a list"

In [141]:
exlist(["sagar",3445,455],[454,45454])

In [144]:
a

[1213, 343, 34, 5]

In [147]:
exlist([345,3435],[456])

[345, 3435, 456]